{{!-- index html handbar view --}}
<section class="main-container">
    
    <header>
        <h6>Header Grid Area</h6>
    </header>

    <main-nav>
        <h6> left context area </h6>
    </main-nav>

    <hero-content>
        <h6>scroll-content</h6>
    </hero-content>

    <second-nav>
        <h6> right context area</h6>
    </second-nav>

    <footer>
        <h6> footer</h6>
    </footer>

</section>
