{{!-- index html handbar view --}}
<section class="main-container">
    
    <header>
        <h6>MOH Covid-19 Locations of Interest</h6>
    </header>

    <main-nav>
        <h6> left context area </h6>
    </main-nav>

    <hero-content>
        <card class="loc">
            Current Locations of Interest
                <p>{{result}}</p>
        </card>
    </hero-content>

    <second-nav>
        <h6> right context area</h6>
    </second-nav>

    <footer>
        <h6> footer</h6>
    </footer>
</section>
